<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <title>AGB</title>
</head>
<body>
    <header>
        <img src="bank-3-32.png" alt="Logo Bank" class="src">
        Support
        
        <i class="fa-solid fa-phone"></i><a href="hilfe">Hilfe</a>
         <i class="fa-regular fa-envelope"></i><a href="postfach">Postfach</a>
         <i class="fa-solid fa-user"></i><a href="profil">Profil</a>
         <i class="fa-solid fa-paperclip"></i><a href="agb">AGB</a>
         <i class="fa-solid fa-paperclip"></i><a href="kontenuebersicht">Kontenuebersicht</a>
         <i class="fa-solid fa-paperclip"></i><a href="ueberweisungenAusfuehren">Ueberweisungen ausfuehren</a>
        <i class="fa-solid fa-paperclip"></i><a href="kreditBeantragen">Kredit beantragen</a>
        <i class="fa-solid fa-paperclip"></i><a href="geldAnlegen">Geld anlegen</a>
            </header>
    <h1>Sparkasse</h1>
    <nav><h2>Inhaltsverzeichnis</h2><ul><li><a href="#kontakt">Kontakt</a></li><li><a href="#konten">Konten</a></li><li><a href="#zahlungsverkehr">Zahlungsverkehr</a></li><li><a href="#kredit">Kredite</a></li><li><a href="#sicherheit">Sicherheit</a></li></ul></nav><main><section id="kontakt"><h2>Kontakt</h2><p>Bei Fragen oder Problemen können Sie sich gerne an unsere Kundenhotline wenden: <strong>0800 123456</strong>.</p><p>Unsere Adresse:<br>            Sparkasse<br>            Musterstraße 123<br>            12345 Dorsten</p></section><section id="konten"><h2>Konten</h2><p>Informationen zu unseren verschiedenen Konten finden Sie auf unserer Webseite unter <a href="https://www.Sparkasse.de/konten">www.Sparkasse.de/konten</a>.</p></section><section id="zahlungsverkehr"><h2>Zahlungsverkehr</h2><p>Details zu Überweisungen, Lastschriften und anderen Zahlungsdienstleistungen erhalten Sie auf unserer Webseite unter <a href="https://www.Sparkasse.de/zahlungsverkehr">www.Sparkasse.de/zahlungsverkehr</a>.</p></section><section id="kredit"><h2>Kredite</h2><p>Interessieren Sie sich für unsere Kreditangebote? Besuchen Sie <a href="https://www.Sparkasse.de/kredite">www.Sparkasse.de/kredite</a> für weitere Informationen.</p></section><section id="sicherheit"><h2>Sicherheit</h2><p>Lesen Sie unsere Tipps zur Sicherheit im Online-Banking auf <a href="https://www.Sparkasse.de/sicherheit">www.Sparkasse.de/sicherheit</a>.</p></section></main>
    <footer> 
        <p>Geschäftsitz
            <a href="https://www.Sparkasse.de">zur Homepage</a>
        </p>
    </footer>
</body>
</html>